{% extends 'base2.html' %}

{% block content %}
    <main class="d-flex justify-content-center align-items-start" style="height: 80vh; margin-top: 5vh;">
        <section class="card card-body text-center" style="width: 600px;">
            <h1 class="mb-4">Welcome to  Decide multiple_votings</h1>
            <div>
                <a class="btn btn-primary" href="/multiple_votings/signin">Sign In</a>
                <a class="btn btn-primary" href="/multiple_votings/signup">Sign Up</a>
            </div>
        </section>
    </main>
{% endblock %}
