{% extends 'base2.html' %}

{% block content %}
    <main class="d-flex justify-content-center align-items-start" style="height: 80vh; margin-top: 5vh;">
        <section class="card card-body text-center" style="width: 600px;">
            <h1 class="mb-4">Welcome to Decide multiple_votings</h1>
            <div>
                {% if user.is_authenticated %}
                  
                    <a class="btn btn-primary" href="/multiple_votings/list_votings">List Votings</a>
                    
                    {% if user.is_superuser %}
                        <a class="btn btn-primary" href="/multiple_votings/">Create Votings</a>
                    {% endif %}
                    <a class="btn btn-primary" href="/logout">Logout</a>
                {% else %}
                    <a class="btn btn-primary" href="/multiple_votings/signin">Sign In</a>
                    <a class="btn btn-primary" href="/multiple_votings/signup">Sign Up</a>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}
