{% extends 'base2.html' %}

{% block content %}

<div style="text-align: center;">
    <h1>Votings_List</h1>
</div>
{% if user.is_superuser %}
    {% for voting in votings %}
        {% if voting.end_date != null and voting.start_date != null %}
            <div>
                <h1>⌛{{voting.name}}</h1>
                <p>{{voting.desc}}</p>
                <form method="post" action="{% url 'voting_delete' voting.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="voting_id" value="{{ voting.id }}" />
                    <button type="submit" name="delete_button">❌ Delete</button>
                </form>
                <button>
                <button>
                    🗳 Tally
                </button>
                <button>
                    ✏ Update
                </button>

            </div>
        {% endif %}
        {% if voting.start_date == null %}
        <div>
            <h1>⏳{{voting.name}}</h1>
            <p>{{voting.desc}}</p>
            <form method="post" action="{% url 'voting_delete' voting.id %}">
                {% csrf_token %}
                <input type="hidden" name="voting_id" value="{{ voting.id }}" />
                <button type="submit" name="delete_button">❌ Delete</button>
                
            </form>
            <button>
        
            <button>
                📆 Start_Voting
            </button>
            <button>
                ✏ Update
            </button>

        </div>
        {% endif %}
        {% if voting.end_date == null %}
        <div>
            <h1>⏳{{voting.name}}</h1>
            <p>{{voting.desc}}</p>
            <form method="post" action="{% url 'voting_delete' voting.id %}">
                {% csrf_token %}
                <input type="hidden" name="voting_id" value="{{ voting.id }}" />
                <button type="submit" name="delete_button">❌ Delete</button>
            </form>
            <button>
                📅 End_Voting
            </button>
            <button>
                ✏ Update
            </button>

        </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% if not user.is_superuser %}
    {% for voting in votings %}

    {% if voting.end_date == null and voting.start_date != null %}
    <div>
        <h1>⏳{{voting.name}}</h1>
        <p>{{voting.desc}}</p>
        <button>
            🗳 Vote
        </button>
        <button>
            👁 Mirar
        </button>

    </div>
    {% endif %}

    {% endfor %}
    
{% endif %}
    

{% endblock %}
