{% extends 'base2.html' %}

{% block content %}
    <main class="d-flex justify-content-center align-items-center" style="height: 600px; margin-top: -100px;">
        <form class="text-center" style="max-width: 800px; padding: 40px; margin-top: 100px;" action="/multiple_votings/signin/" method="POST">
            <h1 class="mb-4">Sign In</h1>
            {{ error }}
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">
                Sign In
            </button>
        </form>
    </main>
{% endblock %}
